@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

table{
    border-collapse: collapse;
    font-family: 'Josefin Sans';
}
.dintable{
    border: 1px solid #3c3d3a;
    padding: 4px;
}
.dintable th,
.dintable td{
    padding: 12px;
    border-bottom: 1px solid #3c3d3a
}

.dintable .dinthead{
    background: #3c3d3a;
    color: #ffffff;
}

.firstPOS{
    background-color: #FFD700;
    border-color: #FFD700;
    color: #ffffff;
}
.secondPOS{
    background-color: #C0C0C0;
    border-color: #C0C0C0;
    color: #ffffff;
}
.thirdPOS{
    background-color: #cd7f32;
    border-color: #cd7f32;
    color: #ffffff;
}